.h5_component_polyline{

}

.h5_component_polyline .canvas1{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	/*background-color: #eee;*/
}
.h5_component_polyline .canvas2{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: none;
}
.h5_component_polyline .text{
	position: absolute;
	z-index: 999;
	text-align: center; 
	font-size: 12px;
	bottom: -20px;
	height: 20px;
	line-height: 20px;
	transform: scale(.8);
}
.h5_component_polyline_onLoad .text{
	transition: 1s all 1s
	opacity: 1
}
.h5_component_polyline_onLeave .text{
	opacity: 0
}